$bg1: #16161a;
$bg2: #242629;
$fg1: #fffffe;
$primary: #8962ff;
$fg2: #000000;
$secondary: #2cb67d;
$transparent: #00000000;


$tile-bg1: #ff0000;
$tile-bg2: #00ff00;
$tile-bg3: #0000ff;

$background: $bg1;
$link: $primary;
$link-hover: $fg1;
$text: $fg1;
$text-strong: $fg1;
$input-color: $bg1;
$card-background-color: $bg1;
$modal-card-body-background-color: $bg2;
$navbar-background-color: $bg1;
$tag-background-color: $bg2;
$navbar-item-hover-background-color: $primary;
$navbar-item-hover-color: $fg1;
$button-background-color: $primary;
$button-color: $fg2;
$button-text-color: $fg2;

$button-border-color: $transparent;
$button-hover-color: $fg1;
$button-focus-color: $fg1;
$button-focus-border-color: $transparent;
$button-active-color: $fg1;
$button-active-border-color: $transparent;
$footer-background-color: $bg1;
$footer-color: $fg1;
$footer-padding: 1rem 1.5rem;

$dropdown-content-background-color: $bg1;