@import "./colors.scss";
@import "bulma/bulma";

@keyframes tile-expand {
  to {
    transform: translateY(0);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $bg2;
  color: $fg1;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
#__next {
  height: 100%;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.ellipse {
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.no-background {
  background: transparent;
}
.no-shadow {
  box-shadow: none;
}
.has-background {
  background-color: $bg1 !important;
}

hr {
  background-color: $fg1;
}

.fullheight {
  height: 100%;
}